.footer {
   padding: 95px 0 145px 0;
   background-color: var(--dark-green);
}

.footer__content {
   color: var(--color-white);
}
.footer__title {
   font-weight: 900;
   font-size: 40px;
}
.footer__nav {
   margin: 65px 0 0 0;
}
.footer__nav-list {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: start;
   row-gap: 60px;
}

.footer__nav-link {
   font-weight: 600;
   font-size: 25px;
}

.footer__nav-link:hover {
   color: var(--light-green);
}
