.product {
   padding: 115px 0 240px 0;
}

.product__wrapper {
   width: 100%;
   position: relative;
   display: flex;
   align-items: flex-start;
   gap: 65px;
   padding: 0 30px;
}

.product__preview {
   border-radius: 18px;
   overflow: hidden;
}
.product__preview-img {
   height: 570px;
   max-width: 638px;
   width: 100%;
   object-fit: cover;
}

.product__content {
   max-width: 530px;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: start;
   row-gap: 20px;
}

.product__subtitle {
   font-weight: 600;
   font-size: 25px;
   color: var(--light-black);
}

.product__title {
   color: var(--light-green);
}

.product__desc {
   font-family: var(--font-family);
   font-size: 20px;
   line-height: 157%;
   color: #484848;
}

.product__content .btn {
   height: 65px;
   margin: 20px 0 0 0;
}

@media (max-width: 992px) {
   .product__content {
      max-width: 390px;
   }

   .product__subtitle {
      font-size: 18px;
   }

   .product__title {
      font-size: 40px;
   }

   .product__desc {
      font-size: 18px;
   }

   .product__wrapper {
      gap: 45px;
   }
}

@media (max-width: 768px) {

   .product {
      padding: 90px 0 150px 0;
   }

   .product__wrapper {
      flex-wrap: wrap;
      justify-content: center;
   }

   .product__preview-img {
      height: 470px;
   }

   .product__wrapper .person-card {
      display: none;
   }
}
