:root {
   --color-white: #fff;
   --main-green: #017f67;
   --dark-green: #245852;
   --light-green: #01996D;
   --color-black: #292929;
   --light-black:  #424242;
}

/* Media breakpoints: 992px, 758px, 576px, 480px */